@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    :root {
        --tw-text-opacity: 1;
        --tw-bg-opacity: 1;
        --tw-gradient-from: #df0000;
        --tw-gradient-to: #550089;
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-border-opacity: 1;
    }

    html {
        font-family: "Poppins", sans-serif;
    }

    body {
        margin: 0;
        line-height: inherit;
        background-color: black;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }

    .links {
        background: -webkit-linear-gradient(left, #ff0000, #9e00ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        transition: 400ms;
    }

    .links:hover {
        background-size: 300% 100%;
    }

    .menu-item {
        display: flex;
        height: 5rem;
        width: 6rem;
        cursor: pointer;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-family: Poppins, sans-serif;
        font-size: .8125rem;
        font-weight: 500;
        transition: 300ms;
    }

    @media screen and (max-width: 1024px) {
        .menu-item {
            width: 3.5rem;
            height: 3.5rem;
        }
    }

    .menu-toggle-btn {
        margin-left: 0.75rem;
        display: flex;
        height: 40px;
        width: 40px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
        background-color: rgb(255 255 255 / var(--tw-text-opacity));
        color: rgb(0 0 0 / var(--tw-text-opacity));
        transition-property: all;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-toggle-btn-active {
        background-image: linear-gradient(to left, var(--tw-gradient-stops));
        color: rgb(255 255 255 / var(--tw-text-opacity));
    }

    .mobile-menu-items {
        display: flex;
        cursor: pointer;
        align-items: center;
        padding: 0.625rem 1rem;
        font-size: .8125rem;
        font-weight: 500;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        transition-duration: 300ms;
    }

    .mobile-menu-items-active {
        color: #ff2222;
    }

    .page-title-headline {
        font-size: 2.6rem;
        font-weight: 600;
    }

    .page-title-headline::after {
        height: 0.125rem;
        border-radius: 0.375rem;
        content: var(--tw-content);
        width: 10rem;
    }
}

/* SLICK SLIDER */
.slick-track {
    display: flex !important;
    align-items: center;
}

.slick-slide {
    pointer-events: none;
    filter: contrast(0);
    transition: 600ms;
}

.slide-active {
    pointer-events: all;
    z-index: 999999;
    filter: contrast(1.5);
}

.slick-slide img {
    transition: 400ms;
    max-height: 100px;
}

/* SCROLL BAR */
.modal::-webkit-scrollbar {
    width: 0.6em;
}

html[class='dark'] {
    --scrollbar-color: white;
}

html[class=''] {
    --scrollbar-color: black;
}

.modal::-webkit-scrollbar-thumb {
    padding-top: 1em;
    border-radius: 50px;
    background: var(--scrollbar-color);
}

*:focus {
    outline: none;
}
